body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.carousel-container {
  display: inline;
  justify-content: center; 
  align-items: center; 
  width: 100vw; 
  height: 100vh; 
}

.photo-gallery-container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
}

.gallery-image {
  max-width: 25%; /* Set maximum width to 25% of container */
  height: auto; /* Maintain aspect ratio */
}






